.header {
  background-color: #69013b;
  color: #fce0d3;
  padding: 2rem;
  height: 2rem;
}

.navbar-expand {
  justify-content: space-between;
  padding: 3rem;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(3, 148, 59);
  font-size: 20px;
  font-family: "Rye", cursive;
}

img {
  background: url("../Components/RecipeLogo\ \(1\).png") center no-repeat;
}
